<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>58C8D8E9-8B93-45F7-AE03-EC3F03B02D6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BA86BA3-7ACA-407F-8397-93B745C16187</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7A75A0A-E3F4-4F9D-9BE6-1A1B22A827A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BDE5F70F-D1F3-45A0-973C-D62456FD30CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BA86BA3-7ACA-407F-8397-93B745C16187</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E2AADAC-2AA6-4056-93A4-141AC4F322A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDE5F70F-D1F3-45A0-973C-D62456FD30CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37B3C907-2A5E-47A9-BECB-7F119D1D7284</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7A75A0A-E3F4-4F9D-9BE6-1A1B22A827A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D8ECB19-A950-4260-B213-6C449252E97E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Pepperrell</string>
	<key>description</key>
	<string>Using a hotkey to perform different tasks based on context</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Advanced Hotkeys - Getting Started</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Notes is active</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5E2AADAC-2AA6-4056-93A4-141AC4F322A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:focusedapp}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>com.apple.Notes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6BA86BA3-7ACA-407F-8397-93B745C16187</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Notes</string>
					<string>com.apple.Safari</string>
					<string>com.apple.Preview</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>58C8D8E9-8B93-45F7-AE03-EC3F03B02D6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Preview is active</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2D8ECB19-A950-4260-B213-6C449252E97E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:focusedapp}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>com.apple.Preview</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C7A75A0A-E3F4-4F9D-9BE6-1A1B22A827A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Safari is active</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>37B3C907-2A5E-47A9-BECB-7F119D1D7284</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:focusedapp}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>com.apple.Safari</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BDE5F70F-D1F3-45A0-973C-D62456FD30CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Hotkeys can be configured to pass out a variable of the active app at the point the hotkey is triggered.

This workflow demonstrates how the active app variable can be used to filter connections based on context, allowing the hotkey to perform different tasks based on context.</string>
	<key>uidata</key>
	<dict>
		<key>2D8ECB19-A950-4260-B213-6C449252E97E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Replace this with the action you'd want to perform when Preview is active.</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>37B3C907-2A5E-47A9-BECB-7F119D1D7284</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Replace this with the action you'd want to perform when Safari is active.</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>58C8D8E9-8B93-45F7-AE03-EC3F03B02D6D</key>
		<dict>
			<key>note</key>
			<string>This hotkey is only registered when Notes, Preview or Safari are active.

It passes the active app as a variable which can be filtered to allow a single hotkey to be used for multiple purposes based on context.</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>5E2AADAC-2AA6-4056-93A4-141AC4F322A5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Replace this with the action you'd want to perform when Notes is active.</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>6BA86BA3-7ACA-407F-8397-93B745C16187</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>activeapp is Notes</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>BDE5F70F-D1F3-45A0-973C-D62456FD30CB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>activeapp is Safari</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>C7A75A0A-E3F4-4F9D-9BE6-1A1B22A827A4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>activatapp is Preview</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
