<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.agilebits.internal1p</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08B556BD-2E19-4BF8-8543-DD65E56BE139</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45D79163-56C8-4B60-A154-3005BB0A629A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89739B60-2525-4FDD-9757-3C1764C03349</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45D79163-56C8-4B60-A154-3005BB0A629A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A40A40ED-9E9B-42E8-BC30-2483E67C3514</key>
		<array/>
		<key>B02879D0-1F76-45C6-A354-DDE069137721</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6AB9CAF-6394-45B6-92EB-0CA954C17A0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2C1681C-4910-4F74-9247-C55FEF4D8AAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45D79163-56C8-4B60-A154-3005BB0A629A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6AB9CAF-6394-45B6-92EB-0CA954C17A0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A40A40ED-9E9B-42E8-BC30-2483E67C3514</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>internal-tools@agilebits.com</string>
	<key>description</key>
	<string>Bring the power of Internal1P to your fingertips!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Internal1P</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>save-auth-token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B02879D0-1F76-45C6-A354-DDE069137721</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>on run argv
	set token to item 1 of argv
	set bundleID to (system attribute "alfred_workflow_bundleid")
	
	tell application id "com.runningwithcrayons.Alfred"
		set configuration "token" to value token in workflow bundleID
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>save-auth-token.scpt</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6AB9CAF-6394-45B6-92EB-0CA954C17A0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your workflow is ready to use</string>
				<key>title</key>
				<string>Alfred is connected to Internal1P 🎉</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A40A40ED-9E9B-42E8-BC30-2483E67C3514</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:fly}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching Fly...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fly.rb</string>
				<key>subtext</key>
				<string>Provides convenient shortcuts to the services used by 1Password</string>
				<key>title</key>
				<string>Fly</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D2C1681C-4910-4F74-9247-C55FEF4D8AAB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:wut}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching Wut...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>wut.rb</string>
				<key>subtext</key>
				<string>Look something up in the AgileBits Glossary</string>
				<key>title</key>
				<string>Wut</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>89739B60-2525-4FDD-9757-3C1764C03349</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>45D79163-56C8-4B60-A154-3005BB0A629A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:charthop}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching Charthop...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>charthop.rb</string>
				<key>subtext</key>
				<string>Look someone up in the AgileBits directory</string>
				<key>title</key>
				<string>Charthop</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>08B556BD-2E19-4BF8-8543-DD65E56BE139</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![](/banner.png)

# Internal1P

Welcome to the Internal1P Alfred workflow! Explore the usage examples below, and if you have any questions or need assistance, drop us a message in Slack at [#ask-internal-tools](https://onepassword.slack.com/archives/C03TNQ4N9S6).

## Fly 

Provides convenient shortcuts to the services used by 1Password. Type `fly` to see all of the available commands...

![](/screenshot-fly-1.png)

...or keep typing to filter the list until you find what you need. You can also add arguments for commands that support them. For examples:

	- `fly u cerb` will open 1Password University's search results for "cerb"
	- `fly gls core` will open GitLab's search results for "core"

![](/screenshot-fly-2.png)

## Wut

Look something up in the AgileBits glossary. Type `wut` followed by a word you'd like to search for.

![](/screenshot-wut.png)

## Charthop

Look someone up in the AgileBits directory. Type `ch` followed by the name you'd like to search for.

![](/screenshot-charthop.png)</string>
	<key>uidata</key>
	<dict>
		<key>08B556BD-2E19-4BF8-8543-DD65E56BE139</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>45D79163-56C8-4B60-A154-3005BB0A629A</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>89739B60-2525-4FDD-9757-3C1764C03349</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>A40A40ED-9E9B-42E8-BC30-2483E67C3514</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>B02879D0-1F76-45C6-A354-DDE069137721</key>
		<dict>
			<key>note</key>
			<string>Allows auth tokens to be set using the alfred:// uri scheme</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>D2C1681C-4910-4F74-9247-C55FEF4D8AAB</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>E6AB9CAF-6394-45B6-92EB-0CA954C17A0A</key>
		<dict>
			<key>note</key>
			<string>Saves the auth token to the workflow's configuration</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This workflow requires an auth token to communicate with Internal1P. This token will be created and saved for you the first time you run the workflow</string>
			<key>label</key>
			<string>Auth Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://www.internal1p.com</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Production</string>
						<string>https://www.internal1p.com</string>
					</array>
					<array>
						<string>Staging</string>
						<string>https://www.internal1pdev.com</string>
					</array>
					<array>
						<string>Development</string>
						<string>http://localhost:8080</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Change this to Development if you need to test the Alfred workflow against a local Internal1P instance</string>
			<key>label</key>
			<string>Environment</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>host</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>fly</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword you'd like to use to activate the Fly workflow</string>
			<key>label</key>
			<string>Fly Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>fly</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wut</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword you'd like to use to activate the Wut workflow</string>
			<key>label</key>
			<string>Wut Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>wut</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ch</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword you'd like to use to activate the Charthop workflow</string>
			<key>label</key>
			<string>Charthop Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>charthop</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0.1</string>
	<key>webaddress</key>
	<string>https://www.internal1p.com</string>
</dict>
</plist>
