<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NjM0LCJlbWFpbCI6ImJsYWVkLmpvaG5zdG9uQGFnaWxlYml0cy5jb20iLCJuYW1lIjoiQmxhZWQgSm9obnN0b24iLCJpYXQiOjE3MDg1MjY3MjUsImF1ZCI6ImludGVybmFsMXAuY29tIiwiaXNzIjoiMXBhc3N3b3JkLm9rdGEuY29tIiwic3ViIjoiNzQwNDhjOWItNDI0Mi00MDFmLTg1YTYtN2M0ODUxMDUyYWUyIn0.wN5uiteEFuFZ-lgdb0-b8SVckg99h_kMydzeWXHHV6w</string>
</dict>
</plist>
