<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>alfred.theme.custom.25713276-D994-4FA0-A733-E99780BDE63C</string>
	<key>lightthemeuid</key>
	<string>theme.bundled.osx</string>
	<key>theme</key>
	<string>alfred.theme.custom.BC410802-9A01-4947-BE6D-ABB68DF0AF13</string>
</dict>
</plist>
